<!-- criar-passagem.component.html -->

<div>
    <h2>Criar Passagem</h2>
  
    <form (submit)="onSubmit()">
      <div>
        <label for="passagemId">Id da passagem:</label>
        <input type="text" id="passagemId" name="passagemId" [(ngModel)]="passagemId" required>
      </div>
  
      <div>
        <label for="piso1">Piso 1:</label>
        <select id="piso1" name="piso1" [(ngModel)]="selectedPiso1" required>
          <option *ngFor="let piso1 of pisos" [value]="piso1.codigoPiso">{{ piso1.codigoPiso}}</option>
        </select>
      </div>
  
      <div>
        <label for="piso2">Piso 2:</label>
        <select id="piso2" name="piso2" [(ngModel)]="selectedPiso2" required>
          <option *ngFor="let piso2 of pisos" [value]="piso2.codigoPiso">{{ piso2.codigoPiso }}</option>
        </select>
      </div>

      <button type="submit">Guardar</button>
    </form>

    <footer>
        <button class="back-button" routerLink="/gestor-campus">Back</button>
    </footer>
  </div>