<section class="gestorFrotaContainer">
  <header>
    <h1>Criar Tipo Robot</h1>
  </header>
  <div class="gestorFrotaFormContainer">
    <h2>Criar Tipo Robot</h2>
    <form (ngSubmit)="createTipoRobot()" #tipoRobotForm="ngForm">
      <div class="form-group">
        <label for="designacaoTipoRobot">Designação:</label>
        <input
          type="text"
          id="designacaoTipoRobot"
          name="designacaoTipoRobot"
          [(ngModel)]="tipoRobot.designacaoTipoRobot"
          required
        />
      </div>
      <div class="form-group custom-select">
        <label for="tipodeTarefas">Tipo de Tarefas:</label>
        <select
          id="tipodeTarefas"
          name="tipodeTarefas"
          [(ngModel)]="tipoRobot.tipoTarefaTipoRobot"
          (change)="tipoTarefasChanged()"
          required
        >
          <option value="pickupndelivery">Pickup and Delivery</option>
          <option value="vigilancia">Vigilância</option>
          <option value="ambas">Ambas</option>
        </select>
      </div>
      <button type="submit" [disabled]="tipoRobotForm.invalid">Criar</button>
    </form>
  </div>
  <footer>
    <button class="back-button" routerLink="/gestor-frota">Back</button>
  </footer>
</section>
