<body>
    <header>
        <h1>Pisos</h1>
    </header>


    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="create" role="tabpanel" aria-labelledby="create-tab">
          <div class="card p-4">
            <p>Criar um piso:</p>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <label for="code" class="form-label">Nome:</label>
                  <input type="text" id="code" formControlName="code" class="form-control">
                </div>
      
                <div class="mb-3 col-md-4">
                  <label for="name" class="form-label">Descrição:</label>
                  <input type="text" id="name" formControlName="name" class="form-control">
                </div>
      
              <div class="mb-3 col-md-4">
                <label for="description w-100" class="form-label">Edifício:</label>
                <input id="description" formControlName="description" class="form-control">
              </div>
          </div>
        </div>
    </div>
</div>
    <footer>
        <button class="back-button" routerLink="/gestor-campus">Back</button>
    </footer>
    
</body>