<div class="sidebar">
    <div class="sidebar-item with-dropdown" routerLink="/edificio" routerLinkActive="active">
        Edificio
        <div class="sub-menu">
            <div class="sidebar-item" routerLink="/criar-edificio">Criar Edificio</div>
            <div class="sidebar-item" routerLink="/editar-edificio">Editar Edificio</div>
            <div class="sidebar-item" routerLink="/listar-edificios">Listar Edificios</div>
           <div class="sidebar-item" routerLink="/listar-edificios-max-min">Listar Edificios com Min e Max de Pisos</div>
        </div>
    </div>

    <!-- Adicionar os necessários à sidebar -->
</div>
