/* menu.component.css */
.app-container{
    height: 100vh;
}

.router-outlet-container {
  height: 100%;
}

.menu-container {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}
