<section class="gestorFrotaContainer">
  <div>
    <button class="my-button" routerLink="/criar-tipo-robot">Criar Tipo Robot</button>
  </div>
  <div>
  <button class="my-button" routerLink="/criar-robots">Criar Robot</button>
</div>
<div>
<button class="my-button" routerLink="/inibir-robot">Inibir Robot</button>
</div>
<div><button class="my-button" routerLink="/listar-robots">Listar Robots</button></div>
  <footer>
    <button class="back-button" routerLink="/menu">Back</button>
  </footer>
</section>
